html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Assure que le body s'étend à la fenêtre */
  overflow: hidden; /* Évite les barres de défilement */
}

* {
  --css-prefix: url("/assets/images/tropical-pixel-beach-with-surf_573660-418.png");
}
